body {
    background-color: rgb(38, 38, 38);
    margin: 0;
    font-family: Helvetica, Tahoma;
}

.header {
    background-color: rgb(64, 64, 64);
    margin: 0;
    width: 100%;
    height: 40px;
}

.header-item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.header-item:hover {
    background-color: black;
}